html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    margin: 5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

blockquote {
    font-style: italic;
    border-left: 2px solid rgb(221,221,221);
}

blockquote p.bottom-right {
    text-align: right;
}

blockquote p {
    padding-left: 15px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead th {
    background-color: #aaaaaa;
}

th, tr, td {
    border: 1px solid #aaaaaa;
    padding-left: 5px;
}

tr:nth-child(odd) {
    background-color: rgb(221,221,221);
}