@import url(https://fonts.googleapis.com/css2?family=Poppins);

:root {
    --main-col:#370511;
    --text-col: #070707;
}

html {
    font-family: "Poppins";
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    background-image: url(images/landing-photo.jpg);
    background-position: center;
    background-size: 100% ;
    width: 100%;
    height: 80vh;
    color: var(--main-col);
}

.hero header {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    margin-left: 20%;
}

.hero header nav h2 {
    display: inline-block;
    margin-right: 50px;
    margin-left: 150px;
}

.hero header nav{
    margin-left: auto;
}

.hero header nav ul {
    display: inline-block;
}

.hero header nav ul li {
    display: inline-block;
}

.hero nav ul li:not(:last-child) {
    margin-right: 16px;
}

a {
    text-decoration: none;
    color: var(--main-col);
}

.dark {
    background-color: #370511;
    border-radius: 100px;
    padding: 6px 10px;
}

.dark a {
    color: white;
}

.hero div {
    width: 30%;
    margin-top: 200px;
    margin-left: 250px;
}

.hero div h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero div span {
    font-size: 24px;
    margin-bottom: 24px;
}

.hero div p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 28px;
}

.hero div a {
    background-color: #370511;
    border-radius: 100px;
    padding: 6px 10px;
    color: white;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main h2 {
    margin-top: 40px;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.cards {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    padding-top: 40px;
}

.card {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
}

.card a {
    color: white;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h3,
.content p {
    margin-bottom: 16px;
}


/* Footer */


footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #070707;
    color: white; 
    text-align: left;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer a {
    color: white;
}

footer ul {
    display: flex;
    flex-direction: column;
    text-align: left;
}

footer ul li a{
    text-align: center;
}

footer i {
    color:white;
    margin-right: 8px;
}