html {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 65vw;
    align-items: center;
}

.week {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

span {
    border: 1px solid black;
    text-align: center;
}

.week span:nth-child(1) {
    width: 100%;
}

.week span:nth-child(7) {
    width: 100%;
}

.week span:not(:nth-child(1)):not(:nth-child(7)):not(:nth-child(8)):not(:nth-child(9)){
    width: calc((100% - 10px) / 5);
}

.week span:nth-child(8) {
    width: calc((100% - 4px) / 2 );
}

.week span:nth-child(9) {
    width: calc((100% - 4px) / 2);
}

.week span {
    height: 80px;
}

.notes span {
    width: 150px;
    height: 162px;
}