html {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: middle;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 65vw;
    align-items: center;
}

.week {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

span {
    border: 1px solid black;
    text-align: center;
}

.week__p {
    margin-top: 15px;
    font-size: 22px;
}

p:not(:nth-child(1)):not(:nth-child(7)) {
    margin-top: 10px;
    font-size: 16px;
}

.notes__p {
    margin: 10px 15px;
}

.week span:nth-child(1) {
    width: 100%;
}

.week span:nth-child(7) {
    width: 100%;
}

.week span:not(:nth-child(1)):not(:nth-child(7)):not(:nth-child(8)):not(:nth-child(9)){
    width: calc((100% - 10px) / 5);
}

.week span:nth-child(8) {
    width: calc((100% - 4px) / 2 );
}

.week span:nth-child(9) {
    width: calc((100% - 4px) / 2);
}

.week span {
    height: 100px;
}

.notes span {
    width: 100%;
    height: 202px;
}