body {
    display: grid;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: block;
    position: absolute;
}

img {
    max-width: 200px;
    max-height: 300px;
    object-fit: contain;
}

.viewport {
    width: 100%;
    height: 350px;
}

.viewport.first {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,136,221,1) 0%, rgba(0,212,255,1) 100%);
}

.viewport.second {
    background: rgb(255,0,99);
    background: linear-gradient(90deg, rgba(255,0,99,1) 0%, rgba(255,235,0,1) 100%);
}
