body {
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

div {
    background-color: rgb(0, 0, 0);
    border-radius: 5px; 
    -moz-box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 10px 10px rgba(0,0,0,0.2);
    overflow: hidden;
}

div {
    width: 90px;
    height: 250px;
    transition: 700ms;
}

div:hover {
    width: 400px;
    height: 250px;
    border-radius: 5px;
    border-left: 15px solid black;
    border-right: 15px solid black;
    transition: 700ms;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 80%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
